<section>
    <h3>
        <%= habit.habbit %>
    </h3>

    <%- include("update_tracker_form") %>

    <%- include("update_tracker_table") %>
</section>
<script src="../assets/js/tracker.js"></script>
