<link rel="stylesheet" type="text/css"  href="/css/update_form.css">
<section>
    <div id="update-form">
        <form action="/create-tracker" method="Post">
            <div class="input-form">
                <input type="hidden" name="habbit" value="<%= habit._id %>">
                <div class="status-container">
                    <label for="status" id="status-label">Status</label>
                    <select name="status" id="habbit-tracker-status">
                        <option value="None">None</option>
                        <option value="Done">Done</option>
                        <option value="Not-Done">Not-Done</option>
                    </select>
                </div>
                
                <div class="date-container">
                    <label for="date">Date</label>
                    <input type="date" name="date" id="date" required>
                </div>

                <div class="day-container">
                    <label for="day" id="day-label">Day</label>
                    <select name="day" id="habbit-tracker-day">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                </div>
            </div>
            
            <button class="btn">Update</button>
        </form>
    </div>
</section>