nav{
    height:10vh;
}
header{
    height : 100%;
    width: 100%;
}
#header-container{
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items to the top */
    height: 100%;
    background-color: lightblue;
}
a{
    text-decoration: none;
}
#header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-family: sans-serif;
    margin: 1rem;
    color: #fff;
}
h2{
    font-family: sans-serif;
    margin: 1rem;
    color: black;
    font-size: 1rem;
    align-self: center;
}