body{
    height: 100vh;
}
.create-habbit-formContainer{
   display: flex;
   justify-content: center;
   align-items: center;
}
#createHabbitForm{
    margin: 1rem auto;
}
ul#habbitContainer {
    width: 100%; /* Use the full width of its container */
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Center the items vertically */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}

.create-habbit-formContainer{
    margin : auto; 
    display: flex;
    justify-content: center;
    align-items: center;   
}
input#createHabbit{
    outline : none;
    border: none;
    padding : 5px;
    line-height: 0.9;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    border-radius: 20px 0 0 20px;
    background-color: lightgray;
}
input#createHabbit::placeholder{
    color : black;
}
.btn{
    outline : none;
    border: none;
    padding : 10px;
    line-height: 0.4;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    border-radius: 0 20px 20px 0 ;
    position : relative;
    left: -4px;
    top : -0.2px;
    background-color:burlywood;
    cursor: pointer;
}
ul#habbitContainer li{
    height : 100px;
    width : 150px;
    margin : 1rem;
    padding :1.5rem;
    border-radius: 1rem;
    background-color: rgb(194, 230, 231);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#linkRoute{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
ul#habbitContainer li p{
    margin : 1rem;
    color:darkgoldenrod;
    text-transform: capitalize;
    font-weight: bold;
    font-family: sans-serif;
}
#linkRoute .updateHabbit{
    margin : 1rem;
    text-decoration: none;
}
#linkRoute .delete-button i{
    margin : 1rem;
    text-decoration: none;
    color: black;
}
#linkRoute .delete-button i:hover{
    margin : 1rem;
    text-decoration: none;
    color: red;
}
.update-btn{
    outline : none;
    border: none;
    padding : 10px;
    line-height: 0.4;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.4px;
    border-radius: 20px;
    position : relative;
    left: -4px;
    top : -0.2px;
    background-color: burlywood;
}
.update-btn a{
    color : #000000;
}